.drawing-canvas {
    &__div {
        background-color: var(--grey);
    }
    &__container {
        height: 1000px;
        width: 1000px;
        overflow: hidden;
        transform-origin: left top;
    }
    &__snap-line {
        stroke: var(--primary-color);
        stroke-width: 1px;
        pointer-events: none;
    }
    &__background {
        fill: var(--black);
    }
}
