.property-view {
    &__container {
        display: flex;
        height: 100%;
        background-color: var(--dark-grey);
        flex-shrink: 0;
        transition-property: width;
        transition-duration: 0.5s;
    }
    &__content {
        padding: 10px;
    }
    &__header {
        color: var(--white);
        font-size: 20px;
        font-weight: bold;
        margin: 5px 0;
        border-bottom: 1px solid var(--primary-color);
    }
    &__inputs {
        margin: 10px 0;
    }
}
.input {
    &__container {
        margin-bottom: 5px;
    }
    &__input {
        color: var(--black);
        background-color: var(--light-grey);
        border-radius: 5px;
        border: 1px solid var(--primary-color);
    }
    &__label {
        font-weight: bold;
        color: var(--white);
    }
    &__container {
        display: flex;
        flex-direction: column;
    }
}

.plant-count {
    &__list {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    &__item {
        color: var(--white);
        font-family: consolas;
        display: flex;
        margin-bottom: 0.5em;
    }
    &__name {
        width: 150px;
    }
}
