.navigator {
    &__container {
        display: flex;
        height: 100%;
        background-color: var(--dark-grey);
        flex-shrink: 0;
        z-index: 10; //this needs to be on top od canvas
        transition-property: width;
        transition-duration: 0.5s;
    }
}

.navigator-list {
    &__list {
        padding: 0;
        list-style: none;
        margin: 0;
        width: 100%;
        overflow: hidden;
    }
    &__item {
        padding: 0;
        color: var(--white);
        font-family: consolas;
        font-size: 1.1em;
        margin-bottom: 5px;
        &--selected {
            background-color: var(--secondary-color);
        }
    }
}
