.editor {
    &__container {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    &__main-content {
        height: 100%;
        width: 100%;
        display: flex;
    }
    &__canvas-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }
}
