.function-bar {
    &__items {
    }
    &__container {
        justify-content: space-between;
        height: 50px;
        width: 100%;
        display: flex;
        align-items: center;
        background-color: var(--primary-color);
    }
    &__component {
        padding: 5px;
        background-color: var(--white);
        color: var(--black);
        margin: 5px;
        justify-content: center;
        display: flex;
        align-items: center;
    }
    &__buttons {
        margin-right: 1em;
    }
    &__button {
        background-color: var(--light-grey);
        border-radius: 2px;
        padding: 5px;
        justify-content: center;
        display: flex;
        align-items: center;
    }
}

.add-area {
    &__container {
        padding: 5px;
        background-color: var(--white);
        color: var(--black);
        margin: 5px;
        justify-content: center;
        display: flex;
        align-items: center;
        border-radius: 5px;
        position: relative;
    }
    &__button {
        padding: 5px;
        justify-content: center;
        display: flex;
        align-items: center;
        font-size: 30px;
        line-height: 20px;
        font-weight: bold;
    }
    &__text {
        line-height: 20px;
    }
    &__list {
        position: absolute;
        background-color: var(--primary-color);
        border: 1px solid var(--dark-grey);
        top: 40px;
        left: 0;
        width: 100%;
        z-index: 100;
    }
    &__list-item {
        &:nth-child(odd) {
            background-color: var(--light-grey);
        }
        &:hover {
            background-color: var(--white);
        }

        padding: 5px;
    }
}
