.calendar {
    &__container {
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
        margin: 1em;
    }
    &__name {
        width: 10%;
        overflow: hidden;
        text-overflow: ellipsis;
        border: 1px dotted var(--white);
        border-bottom: 2px solid var(--white);
        box-sizing: border-box;
        font-family: consolas;
        align-items: center;
        display: flex;
    }
    &__table {
        width: 100%;
        position: relative;
    }
    &__cell {
        width: 7.5%;
        border-right: 1px dotted var(--white);
        border-bottom: 2px solid var(--white);
        box-sizing: border-box;
    }
    &__row {
        position: relative;
        display: flex;
        height: 40px;
        border-right: 2px solid var(--white);
        border-left: 2px solid var(--white);

        &:nth-child(odd) {
            background-color: var(--darker-grey);
        }
        &:focus {
            background-color: var(--dark-grey);
        }
        &:focus-within {
            background-color: var(--dark-grey);
        }
    }
    &__index {
        display: flex;
        border: 2px solid var(--white);
    }
    &__index-text {
        display: flex;
        justify-content: center;
    }
    &__pregrow {
        background-color: var(--primary-color);
        height: 8px;
        position: absolute;
        top: 8px;
    }
    &__planting {
        background-color: var(--secondary-color);
        height: 8px;
        top: 16px;
        position: absolute;
    }
    &__harvest {
        background-color: var(--tertiary-color);
        position: absolute;
        top: 24px;
        height: 8px;
    }
    &__date-line {
        position: absolute;
        height: 100%;
        width: 2px;
        background-color: red;
        z-index: 1;
    }
}
