.drag-handle {
    &__area {
        fill: transparentize($color: #eccece, $amount: 0.75);
    }
    &__overlay {
        stroke: var(--secondary-color);
    }
    &__point {
        fill: var(--secondary-color);
    }
    &__middle-point {
        fill: transparent;
        stroke: transparent;
        &:hover {
            fill: var(--white);
        }
    }
}
