.drawing-symbol {
    &__area {
        &--kasvi {
            fill: #82653d;
        }
        &--plant-marker {
            fill: #669757;
        }
        &--tausta {
            fill: #888787;
        }
        &--polku {
            fill: #5a5a5a;
        }
        &--lavakaulus {
            fill: #332c20;
            stroke: #a3916e;
            stroke-width: 5px;
        }
        &--muu {
            fill: #165a02;
        }
    }
    &__text {
        font-family: consolas;
        pointer-events: none;
    }
}
