.side-menu {
    display: flex;
    flex-direction: column;
    width: 45px;
    flex: none;
    background-color: var(--grey);
    &__item {
        margin: 5px;
        padding: 5px;
        height: 25px;
        width: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-color);
        border-radius: 5px;
        &:hover {
            background-color: var(--primary-color);
        }
    }
}
