.side-bar {
    &__bar {
        background-color: var(--secondary-color);
        width: 5px;
        flex: none;
        &--right {
            position: relative;
            left: -5px;
            background-color: var(--tertiary-color);
        }
    }
    &__expand-icon-container {
        height: 30px;
        width: 30px;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--secondary-color);
        &--right {
            position: relative;
            left: -25px;
            background-color: var(--tertiary-color);
        }
    }
    &__expand-icon {
        transition-duration: 0.5s;
        transition-property: transform;
        height: 15px;
        width: 15px;
    }
}
