.commander {
    &__input {
        width: 100%;
        background-color: var(--grey);
        border: 2px solid var(--light-grey);
        box-sizing: border-box;
        color: var(--white);
        font-family: monospace;
        font-size: 1.2em;
    }
}

.command-history {
    &__container {
        background-color: var(--dark-grey);
        color: var(--white);
        font-family: monospace;
        font-size: 1.2em;
        height: 125px;
        display: flex;
        flex-direction: column-reverse;
        overflow: auto;
        border-top: 4px solid var(--light-grey);
    }
    &__output {
        padding-left: 1em;
        color: var(--light-grey);
    }
    &__item {
        margin: 0.25em;
    }
}
