.icon {
    stroke: var(--black);
}

.fill {
    &-transparent {
        fill: transparent;
    }
    &-primary {
        fill: var(--black);
    }
    &-secondary {
        fill: var(--light-grey);
    }
}
.stroke {
    &-primary {
        stroke: var(--black);
    }
    &-secondary {
        stroke: var(--light-grey);
    }
}
