#app-root {
    height: 100%;
    width: 100%;
}

.main-content {
    width: 100%;
    height: 100%;
    display: flex;
    touch-action: none;
    background-color: var(--black);
    color: var(--white);
}

body {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0;
}

:root {
    --primary-color: #4e88b3;
    --secondary-color: #d75ba3;
    --tertiary-color: #90b958;
    --white: #eeeeee;
    --black: #222222;
    --darker-grey: #333;
    --dark-grey: #555;
    --grey: #888;
    --light-grey: #cccccc;
}
